<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="28">
        <!-- <mat-toolbar> -->
                
          <!-- </mat-toolbar> -->
        <form [formGroup]="forgotForm" fxLayoutAlign="stretch" fxLayout="column" class="login-form">
            <span fxLayoutAlign="center center" fxLayout="column">
                <div class="google-logo">
                    <img  src="assets\images\Google-Logo.png" alt="Google-Logo.png">
                </div>
                <h2>Forget Password</h2>
                <p>Enter your email to reset your Google Account Password</p>
            </span>
            
            <div fxLayout="column">
                
            </div>
            <div fxLayout="column">
              <small *ngIf="forgotForm.controls['email'].dirty && forgotForm.hasError('required','email')" style="padding-top: 0px; color: red">*Email is required</small>

               <mat-form-field appearance="outline">
                    <!-- <mat-label>Enter your email</mat-label> -->
                    <input formControlName="email" matInput placeholder="Enter your email">
                  </mat-form-field>
                
            </div>

            <div>
              <div class="create-next">         
                    <div class="btn-next">
                        <button (click)="onSubmit()"  type="submit" mat-raised-button color="primary">Next</button>
                    </div>
                    <div class="create-anchor">
                        <a style="text-decoration: none; font-weight: 400; font-size: 14px; color: blue;" href="">Go back</a>
                     </div>
              </div>  
            </div>
      </form>
    </mat-card>
</div>
