.main-div mat-card{
padding: 0px;

}

.login-form{
    padding: 50px 40px 50px 40px ;
}

span{
    text-align: center
}

.main-div .btn-next{
    float: right;
    width: 50%;
    text-align: right;
}
.create-next
{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}


.create-anchor{
    padding-top: 5px;
    width: 50%;
    float: left;
}