<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="28">
        <!-- <mat-toolbar> -->
                
          <!-- </mat-toolbar> -->
        <form [formGroup]="resetForm" fxLayoutAlign="stretch" fxLayout="column">
            <span fxLayoutAlign="center center" fxLayout="column">
                <div class="google-logo">
                    <img  src="assets\images\Google-Logo.png" alt="Google-Logo.png">
                </div>
                <h2>Change Password</h2>
                <p>Enter new password for your Google Account</p>

            </span>
            

            <div fxLayout="column">
                <small *ngIf="resetForm.controls['password'].dirty && resetForm.hasError('required','password')" style="padding-top: 0px; color: red">*Password required</small>

               <mat-form-field appearance="outline">
                    <mat-label>Enter new password</mat-label>
                    <input formControlName="password"  type="password" matInput placeholder="Enter new password">
                  </mat-form-field>
                
            </div>
            <div fxLayout="column">
                <small *ngIf="resetForm.controls['confirmPassword'].dirty && resetForm.hasError('required','confirmPassword')" style="padding-top: 0px; color: red">*Confirm Password required</small>

                <mat-form-field appearance="outline">
                     <mat-label>Confirm new password</mat-label>
                     <input formControlName="confirmPassword" type="password" matInput placeholder="Confirm new password">
                   </mat-form-field>
                 
             </div>
 
            <div>
              <div class="create-next">         
                    <div class="btn-next">
                        <button (click)="onSubmit()" mat-raised-button color="primary">Next</button>
                    </div>
                    <div class="create-anchor">
                        <a style="text-decoration: none; font-weight: 400; font-size: 14px; color: blue;" href="">Go back</a>
                     </div>
              </div>  
            </div>
 
      </form>
    </mat-card>
</div>
