<div fxLayoutAlign="center center" fxFlexFill>
    <div >
        <form >
            <mat-card fxFlex="100" class="container-card"  fxLayout="column">
                <div fxLayoutAlign="center center" fxLayout="column" >
                    <div>
                        <img src="assets\images\Google-Logo.png" alt="">
                    </div>
                    <div>
                        <h2>Register to Google</h2>
                    </div>
    
                </div>
                <div fxLayout="row">
                    <div>
                        <mat-form-field appearance="outline" class="name-left">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="First Name">
                          </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="Last Name">
                          </mat-form-field>
                    </div>
                </div>
                <div style="width: 100%;">
                    <mat-form-field appearance="outline" class="username-form">
                        <mat-label>User Name</mat-label>
                        <input matInput placeholder="User Name">
                      </mat-form-field>
                </div>
                
                    <div  fxLayout="row">
                        <div>
                            <mat-form-field appearance="outline" class="name-left">
                                <mat-label>Password</mat-label>
                                <input matInput placeholder="Password">
                              </mat-form-field>
                        </div>
                        <div>
                            <div>
                                <mat-form-field appearance="outline">
                                    <mat-label>Confirm</mat-label>
                                    <input matInput placeholder="Confirm">
                                  </mat-form-field>
                            </div>
                        </div>
                    </div>
                
    
    
            </mat-card>
    
        </form>
    </div>

</div>